@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.App {
  text-align: center;
}
.button-navbar{
  width: 110px;
  height: 40px;
  margin: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 7px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.logo1{
  color: #e0e4e8;
  margin-top: 20px;
  margin-left: 35px;
}
.logo1 h6{
  font-size: 15px;
  margin-left: 20px;
}
.usertop .fas{
  color: #fff;
  float: right;
  margin: 20px
}
.fas{
  color: #190871;
}
.logo{
text-align:center;
}
body{
   background-color: #072563;
}
.button{
  float:right ;
  height:40px;
  width:200px;
  background-color:#190871;
  color:#fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.heading{
  color: rgba(25, 31, 94, 0.7);padding-top:20px;padding-bottom:10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;

}
.wrapper .sidebar{
  position:relative;
  /* float: left; */
  width: 225px;
  height: 100vh;
  background: #ffffff;
  color: rgb(12, 12, 99);
  padding: 15px 15px;

}
.text{
color:#072563
}
.fa-solid{
color: #072563;
}
.button .fa-solid{
color:#e0e4e8
}
.logo .fa-brands{
  color: #072563;
}
.wrapper{
  display: block;
  float: left;
  margin-right: 10px;
 
}
.Flex-box{
  display:flex;
  width:100%;
}
.mainpg{
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  border-radius: 20px;
  margin-top:5px;
  margin-right:20px;
  background-color: #ffffff;
  height: auto;
}